﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.MenuSelected = Magnatta.Biz.Enum.EMEnu.ACESSO;
}
<div class="container-fluid cart-list">
	<div class="row">
		<div class="col-sm-6">
			<form action="@Url.Content("~/Conta/Login")" method="post" novalidate="" class="myform">
				<h2 class="text-center">Acesse sua conta</h2>
				<div class="form-group">
					<label class="control-label">E-mail</label>
					<input name="email" placeholder="Email" class="form-control" type="text">
				</div>
				<div class="form-group">
					<label class="control-label">Senha</label>
					<input name="password" placeholder="Senha" class="form-control" type="text">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">
						<span>Continuar logado</span>
					</label>
				</div>

				<p><button name="submit" type="submit" class="btn btn-store btn-block">Acessar</button></p>
			</form>
		</div>
		<div class="col-sm-6">
			<form id="formRegister" action="@Url.Content("~/Conta/CreateAccount")" method="post" novalidate="" class="myform">
				<h2 class="text-center">Crie sua conta</h2>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">Nome</label>
							<input id="FirstName" name="user.FirstName" placeholder="Nome" class="form-control" type="text">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">Sobrenome</label>
							<input id="LastName" name="user.LastName" placeholder="Sobrenome" class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<select id="Sex" name="user.Sex" class="form-control">
						<option value="">Selecione</option>
						<option value="1">Masculino</option>
						<option value="2">Feminino</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Data de Nascimento</label>
					<input id="BirthDate" name="user.BirthDate" placeholder="Data de Nascimento" class="form-control" type="text">
				</div>
				<div class="form-group">
					<label class="control-label">Email</label>
					<input id="Email" name="user.Email" placeholder="Email" class="form-control" type="text">
				</div>
				<div class="form-group">
					<label class="control-label">Confirmar Email</label>
					<input id="ConfirmEmail" placeholder="Confirmar Email" class="form-control" type="text">
				</div>
				<div class="form-group">
					<label class="control-label">Senha</label>
					<input id="Password" name="user.Password" placeholder="Senha" class="form-control" type="password">
				</div>
				<div class="form-group">
					<label class="control-label">Confirmar Senha</label>
					<input id="ConfirmPassword" placeholder="Confirmar Senha" class="form-control" type="password">
				</div>
				<p>
					<button onclick="registerUser();" type="button" class="btn btn-store btn-block">Criar uma conta</button>
				</p>
			</form>
		</div>
	</div>
</div>
@section Scripts{
	<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.maskedinput.min.js")"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#BirthDate").mask("99/99/9999", { placeholder: " " });
			$("#Email").keydown(function () {
				if (!validateEmail($(this).val())) {
					AddError($(this), "Por favor, insira um e-mail válido.");
				} else {
					RemoveError($(this));
				}
			});
			$("#Email").keyup(function () {
				$("#ConfirmEmail").trigger("keyup");
			});


			$("#ConfirmEmail").keyup(function () {
				var email = $("#Email").val();
				var confirmEmail = $(this).val();
				if (email == "" || confirmEmail != email) {
					AddError($(this), "A confirmação deve ser igual ao e-mail.");
				} else {
					RemoveError($(this));
				}
			});

			$("#Password").keyup(function () {
				$("#ConfirmPassword").trigger("keyup");
			});

			$("#ConfirmPassword").keyup(function () {
				var pass = $("#Password").val();
				var confirmPass = $(this).val();
				if (pass == "" || confirmPass != pass) {
					AddError($(this), "A confirmação deve ser igual a senha.");
				} else {
					RemoveError($(this));
				}
			});
		});
		$("#formRegister input, #formRegister select").blur(function () {
			var msg = "O Campo é obrigatório";
			if ($(this).val() == "") {
				AddError($(this), msg);
			} else {
				RemoveError($(this));
			}
		});
		function registerUser() {
			var submit = true;
			if ($("#FirstName").val() == "") { submit = false; }
			if ($("#LastName").val() == "") { submit = false; }
			if ($("#Sex").val() == "") { submit = false; }
			if ($("#BirthDate").val() == "") { submit = false; }
			if ($("#Email").val() == "") { submit = false; }
			if ($("#ConfirmEmail").val() == "") { submit = false; }
			if ($("#Password").val() == "") { submit = false; }
			if ($("#ConfirmPassword").val() == "") { submit = false; }
			if (submit) {
				$("#formRegister").submit();
			} else {
				alert("Por favor, preencha todos os campos.");
			}
		}
		function validateEmail(email) {
			var re = /\S+@@\S+\.\S+/;
			return re.test(email);
		}
		function AddError(HtmlObject, ErrorMsg) {
			HtmlObject.removeClass("ok-form").addClass("error-form").attr("data-toggle", "tooltip").attr("title", ErrorMsg);
			$('[data-toggle="tooltip"]').tooltip();
		}
		function RemoveError(HtmlObject) {
			HtmlObject.removeClass("error-form").addClass("ok-form").removeAttr("data-toggle").removeAttr("title").removeAttr("data-original-title");
		}
		function replaceAll(find, replace, str) {
			return str.replace(new RegExp(find, 'g'), replace);
		}
	</script>
}