﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.MenuSelected = Magnatta.Biz.Enum.EMEnu.CARRINHO;
}

<div class="container-fluid title">
	<div class="row">
		<div class="col-sm-12">
			<h2>Meu Carrinho</h2>
		</div>
	</div>
</div>
<div class="container-fluid cart-list ng-scope" ng-controller="cartController">
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th>Produto</th>
						<th>Preço Unitário</th>
						<th class="text-center">Quantidade</th>
						<th class="text-right">Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng:repeat="item in invoice.items" class="ng-scope">
						<td class="vert-align"><a href="product1.html" class="ng-binding">Camisa Social c/ pontos pretos</a></td>
						<td class="vert-align ng-binding">R$ 104.89</td>
						<td class="text-center vert-align">2</td>
						<td class="text-right vert-align ng-binding">R$ 209,96</td>
						<td class="text-center vert-align"><a href="#" ng:click="removeItem($index)" class="remove-item"><i class="icon-close"></i></a></td>
					</tr>
					<tr ng:repeat="item in invoice.items" class="ng-scope">
						<td class="vert-align"><a href="product2.html" class="ng-binding">Blusa Preta Remain Humble</a></td>
						<td class="vert-align ng-binding">R$ 119,42</td>
						<td class="text-center vert-align">1</td>
						<td class="text-right vert-align ng-binding">R$ 119,42</td>
						<td class="text-center vert-align"><a href="#" ng:click="removeItem($index)" class="remove-item"><i class="icon-close"></i></a></td>
					</tr>
					<tr ng:repeat="item in invoice.items" class="ng-scope">
						<td class="vert-align"><a href="product3.html" class="ng-binding">Camiseta AK47</a></td>
						<td class="vert-align ng-binding">R$ 112,48</td>
						<td class="text-center vert-align">1</td>
						<td class="text-right vert-align ng-binding">R$ 112,48</td>
						<td class="text-center vert-align"><a href="#" ng:click="removeItem($index)" class="remove-item"><i class="icon-close"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-offset-8 col-sm-4  ng-scope" ng-if="total() > 0">
			<table class="table">
				<thead>
					<tr>
						<th colspan="3" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Frete</td>
						<td></td>
						<td class="text-right">R$ 40,00</td>
					</tr>
					<tr>
						<td>Total:</td>
						<td></td>
						<td id="total" class="text-right ng-binding">R$ 481,36</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center show-more">
			<a href="checkout.html" class="btn btn-right">Checkout</a>
			<a href="index.html" class="btn btn-outline btn-right">Cancelar e continuar comprando</a>
		</div>
	</div>

</div>