﻿body {
}
.bg-overlay {
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.loader-img {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 0px;
    width: 100%;
}
.footer{
    
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #e7e7e7;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container .text-muted{
      margin: 20px 0;
}
.productColor {
    display: inline-block; 
    width: 35px; 
    height: 35px; 
    cursor: pointer;
    margin-right: 3px;
}
.productColor-active { border: 2px solid #000; }
.productColor-gray{ background-color: #ddd; }
.productColor-blue{ background-color: blue; }
.productColor-red{ background-color: red; }

.btn-inactive {   color: #fff; background-color: #ddd; border-color: #ddd; }
.btn-inactive:hover { color: #fff; }

.checkout-body {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}

.checkout-body div{
    height: 130px;
    line-height: 130px;
}


.navbar-nav>li>.dropdown-menu { border-top-left-radius:4px; border-top-right-radius:4px; }
.navbar-default .navbar-nav>li>a { font-weight:bold; }
.mega-dropdown { position: static !important; width:100%; }
.mega-dropdown-menu { padding: 20px 0px; width: 100%; box-shadow: none; -webkit-box-shadow: none; }
.mega-dropdown-menu > li > ul { padding: 0; margin: 0; }
.mega-dropdown-menu > li > ul > li { list-style: none; }
.mega-dropdown-menu > li > ul > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.428571429; color: #999; white-space: normal; }
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus { text-decoration: none; color: #444; background-color: #f5f5f5;}
.mega-dropdown-menu .dropdown-header { color: #428bca; font-size: 18px; font-weight:bold; }
.mega-dropdown-menu form { margin:3px 20px; }
.mega-dropdown-menu .form-group { margin-bottom: 3px; }