﻿<!DOCTYPE html>
<html>
<head>
	<title>MAGNATTA</title>
	<meta charset="utf-8">
	<meta name="description" content="Magnatta">
	<meta name="author" content="MAGNATTA">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet">
	<link href="@Url.Content("~/content/css/styleae52.css?v=5")" rel="stylesheet">
	<link href="@Url.Content("~/content/css/icomoon/style.css")" rel="stylesheet">
	<link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" />
	<link href="@Url.Content("~/assets/css/sweet-alert.css")" rel="stylesheet" />

	<link href="@Url.Content("~/content/img/ico/32.png")" rel="shortcut icon" sizes="32x32" type="image/png" />
	<link href="@Url.Content("~/content/img/ico/60.png")" rel="apple-touch-icon-precomposed" type="image/png" />
	<link href="@Url.Content("~/content/img/ico/72.png")" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png" />
	<link href="@Url.Content("~/content/img/ico/120.png")" rel="apple-touch-icon-precomposed" sizes="120x120" type="image/png" />
	<link href="@Url.Content("~/content/img/ico/152.png")" rel="apple-touch-icon-precomposed" sizes="152x152" type="image/png" />
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body style="background: url(http://subtlepatterns.com/patterns/wet_snow.png);">
	<div class="container-fluid">
		<div class="menu-wrapper">
			<a href="#" class="close-menu visible-xs"><i class="icon-close"></i></a>
			<h3 class="visible-xs">Navegação</h3>
			<ul class="nav-list text-center effect">
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.HOME)
				{
					<li class="active"><a href="#">Home</a></li> 
				}
				else
				{
					<li><a href="#">Home</a></li> 
				}
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.MASCULINO)
				{
					<li class="active"><a href="@Url.Content("~/Produto/Lista")">Masculino</a></li>
				}
				else
				{
					<li><a href="@Url.Content("~/Produto/Lista")">Masculino</a></li> 
				}
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.FEMININO)
				{
					<li class="active"><a href="about.html">Feminino</a></li>
				}
				else
				{
					<li><a href="about.html">Feminino</a></li>
				}
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.ACESSORIOS)
				{
					<li class="active"><a href="about.html">Acessórios</a></li>
				}
				else
				{
					<li><a href="about.html">Acessórios</a></li>
				}
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.CARRINHO)
				{
					<li class="active"><a href="@Url.Content("~/Carrinho")">Carrinho</a></li>
				}
				else
				{
					<li><a href="@Url.Content("~/Carrinho")">Carrinho</a></li>
				}
				@if (ViewBag.MenuSelected == Magnatta.Biz.Enum.EMEnu.ACESSO)
				{
					<li class="active"><a href="@Url.Content("~/Conta")">Login</a></li>
				}
				else
				{
					<li><a href="@Url.Content("~/Conta")">Login</a></li>
				}
			</ul>
		</div>
	</div>
	<div id="main-nav" class="">
		<div class="container-fluid">
			<div class="nav-header">
				<a href="index.html" style="background-color: #fff;" class="nav-brand">MAGNATTA</a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="cart.html"><i class="icon-cart"></i><span class="badge">3</span></a>
			</div>
		</div>
	</div>
	<div id="wrap" style="background: url(http://subtlepatterns.com/patterns/wet_snow.png);">
		@RenderBody()
	</div>
	<footer style="margin-bottom: -15px">
		<div class="container-fluid">
			<div class="pull-left copyright">
				<p>Magnatta &copy; @DateTime.Now.Year.</p>
				<ul class="nav-list effect">
					<li><a href="terms-conditions.html">Delivery & Returns</a></li>
					<li><a href="terms-conditions.html">Terms & Conditions</a></li>
					<li><a href="privacy.html">Privacy</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</div>
			<div class="pull-right copyright">
				<ul class="social-links">
					<li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
					<li><a href="http://dribbble.com/"><i class="icon-dribbble"></i></a></li>
					<li><a href="http://www.pinterest.com/"><i class="icon-pinterest"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="@Url.Content("~/assets/js/jquery.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/assets/js/sweet-alert.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/content/js/placeholders.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/content/js/custom.js")"></script>
	<script type="text/javascript">
		function alert(message) {
			swal("Alerta!", message);
		}
		$(document).ajaxStart(function () {
			//function BeginAjaxLoader() {
			$("input").blur();
			$("body").append("<div class='bg-overlay'><div class='loader-img'><img src='@Url.Content("~/assets/img/loader.gif")' /></div></div>");
		});
		$(document).ajaxComplete(function () {
			//function EndAjaxLoader() {
			$(".loader-img").remove();
			$(".bg-overlay").remove();
		});
	</script>
	@RenderSection("Scripts", false)
</body>
</html>
