﻿@model IEnumerable<Magnatta.Biz.VO.Menu>
<div class="collapse navbar-collapse navbar-left js-navbar-collapse" id="nav-collapsed">
    <ul class="nav navbar-nav">
        @foreach (var menu in Model)
        {
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menu.Nome</a>
                <ul class="dropdown-menu mega-dropdown-menu row">
                    @{ var col = "col-sm-offset-2"; }
                    @foreach(var item in menu.Filhos){
                        <li class="col-sm-3 @col">
                            <ul>
                                <li class="dropdown-header">@item.Nome</li>
                                @foreach(var f in item.Filhos){
                                    <li><a href="javascript:">@f.Nome</a></li>
                                }
                            </ul>
                        </li>
                        col = string.Empty;
                    }
                </ul>
            </li>
        }
    </ul>
</div>