﻿<div class="panel-group" id="accordionNo">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" href="#collapseCategory" class="collapseWill"> <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Category </a> </h4>
        </div>
        <div id="collapseCategory" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked tree">
                    <li class="active dropdown-tree open-tree">
                        <a class="dropdown-tree-a"> <span class="badge pull-right">42</span> WOMEN COLLECTION </a>
                        <ul class="category-level-2 dropdown-menu-tree">
                            <li class="dropdown-tree"> <a class="dropdown-tree-a" href="sub-category.html"> Tshirt</a> </li>
                            <li> <a> Shoes</a> </li>
                            <li> <a> Shirt</a> </li>
                            <li> <a>T shirt</a> </li>
                            <li> <a href="sub-category.html"> Shirt</a> </li>
                            <li> <a href="sub-category.html">Fragrances</a> </li>
                            <li> <a href="sub-category.html">Scarf</a> </li>
                            <li> <a href="sub-category.html">Sandal</a> </li>
                            <li> <a href="sub-category.html">Underwear</a> </li>
                            <li> <a href="sub-category.html">Winter Collection</a> </li>
                            <li> <a href="sub-category.html">Men Accessories</a> </li>
                        </ul>
                    </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> MEN COLLECTION </a> </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> Baby &amp; Kids </a> </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> Home &amp; Kitchen </a> </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> Baby &amp; Kids </a> </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> More Stores </a> </li>
                    <li> <a href="#"> <span class="badge pull-right">42</span> Offers Zone </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
