﻿@model IEnumerable<IEnumerable<Magnatta.Biz.VO.Product>>

@foreach (var item in Model)
{
	int total = item.Sum(x => x.ScreenSize);
	<div class="row">
		@foreach (var product in item)
		{
			if (total == 32) { 
				@Html.Raw("<div class='col-sm-4 special'>")
			}
			<div class="@product.CssSize">
				<a href="@Url.Content("~/Produto/Index/" + product.Id)">
					<img src="@Url.Content(product.ImagePath.FirstOrDefault())" class="img-responsive" alt="@product.Name">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">@product.Price.Replace(".", ",")</span>
						</span>
					</span>
				</a>
			</div>
			if (total == 20) {
				@Html.Raw("</div>"); 
			}
			total = total - product.ScreenSize;
		}
</div>
}