﻿<div class="row" style="margin-top: 50px;">
    <div class="col-sm-12">
        <h2 style="border-bottom: 1px solid #ddd; margin-bottom: 20px;">Produtos Relacionados</h2>
    </div>
    @for (var i = 0; i < 4; i++)
    {
        <div class="col-sm-12 col-md-3">
            <div class="thumbnail">
                <span style="display: block; height: 300px;width: 250px; background-color: #ddd;"></span>
                <div class="caption">
                    <h3>Produto @i</h3>
                    <p>R$ 140,00</p>
                    <p>
                        <a href="#" class="btn btn-primary" onclick="window.location.href='@Url.Content("~/Product/Index")'" role="button">Adicionar ao carrinho</a>
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

