﻿@model Magnatta.Biz.VO.Product
<div class="container-fluid hidden-xs">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="@Url.Content("~/Home")">Home</a></li>
			<li class="active">@Model.Name</li>
		</ol>
	</div>
</div>

<div class="container-fluid product">
	<div class="row visible-xs product-mobile">
		<div class="col-xs-12 text-center">
			<h2 class="product-title">@Model.Name</h2>
			<div class="product-price">
				R<span class="price">@Model.Price.Replace(".",",")</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			@foreach (var item in Model.ImagePath)
			{
				<img src="@Url.Content(item)" class="product-img img-responsive" alt="item">
			}
		</div>
		<div class="col-sm-4">
			<h2 class="product-title hidden-xs">@Model.Name</h2>
			<div class="product-price hidden-xs">
				R<span class="price">@Model.Price.Replace(".",",")</span>
			</div>
			<div class="product-detail">
				@Model.Description
			</div>
			<form action="product1.html" method="POST" class="myform">
				<div class="form-group clearfix">
					<label class="control-label">Size</label>
					<select class="form-control">
						@foreach (var size in Model.ProductSize)
						{
							<option value="@size">@size</option>
						}
					</select>
				</div>

				<ul class="product-colors">
					<li class="selected"><a class="white" style="background-color:#FFF" data-original-title="" title=""> </a></li>
					<li class=""><a style="background-color:#000" data-original-title="" title=""> </a></li>
					<li class=""><a style="background-color:#49A3F1" data-original-title="" title=""> </a></li>
					<li class=""><a style="background-color:#FF6279" data-original-title="" title=""> </a></li>
				</ul>

				<div class="product-btn">
					<a href="" class="btn">Adicionar ao carrinho</a>
				</div>
			</form>
		</div>
	</div>
</div>