﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrap">
	<div class="container-fluid productlist">
		<div class="row">
			<div class="col-sm-8">
				<a href="product1.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">14,00</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="product2.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">28,00</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="product3.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">24,00</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 special">
				<div class="col-sm-12">
					<a href="product4.html">
						<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
						<span class="productlist-price-container">
							<span class="product-price">
								R<span class="price">16,00</span>
							</span>
						</span>
					</a>
				</div>
				<div class="col-sm-12">
					<a href="product5.html">
						<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
						<div class="productlist-label">
							<span class="sale-label">Sale</span>
						</div>
						<span class="productlist-price-container">
							<span class="product-price">
								<span class="price">54.00</span>
								<span class="original-price">
									R<span class="price">65,00</span>
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-sm-8">
				<a href="product6.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<div class="productlist-label">
						<span class="sold-out-label">Sold Out</span>
					</div>
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">38,00</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="row" id="more-items">
			<div class="col-sm-6">
				<a href="product7.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">17.00</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="product8.html">
					<img src="@Url.Content("~/content/img/t-shirt1.jpg")" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							R<span class="price">21.00</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center show-more">
				<a href="#" class="btn btn-outline" id="showmore">Ver mais</a>
			</div>
		</div>
	</div>
</div>