﻿@model IEnumerable<IEnumerable<Magnatta.Biz.VO.Product>>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.MenuSelected = Magnatta.Biz.Enum.EMEnu.MASCULINO;
}
@section Scripts{
	<script type="text/javascript" src="@Url.Content("~/Scripts/ListProducts.js")"></script>
}
<div class="container-fluid productlist">
	<div id="products">
		@Html.Partial("_partialProducts", Model)
	</div>
</div>